<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Admin</title>
</head>
<body>
  <div>
    <p>
      Xin chao
    </p>
    <a href="/users/logout" class="btn btn-primary">Logout</a>
  </div>
  <nav id="adminTab" class="nav nav-tabs" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAccountModal">
        Them tk
      </button>
      <!-- Modal -->
      <div class="modal fade" id="addAccountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Thêm tài khoản</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label>Họ tên</label>
                  <input type="text" class="form-control" id="addAccName" placeholder="Nguyen Van A">
                </div>
                <div class="form-group">
                  <label>Username</label>
                  <input type="text" class="form-control" id="addAccUserName"placeholder="MSSV VD:123456">
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="text" class="form-control" id="addAccPass" placeholder="Mặc định 123456">
                </div>
                <div class="form-group">
                  <label>Loại tk</label>
                  <select class="form-control" id="addAccUserType">
                    <option value="std">Sinh viên</option>
                    <option value="lec">Giảng viên</option>
                    <option value="admin">Quản trị</option>
                  </select>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="CreateNewUser()">Tạo tài khoản</button>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group user-list">

      </div>
      <div class="modal fade" id="editAccountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Sửa tài khoản</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>

                <div class="form-group">
                  <label>Username</label>
                  <input type="text" readonly class="form-control input-edit-username" value="123456">
                </div>
                <div class="form-group">
                  <label>Đặt lại mật khẩu</label>
                  <input type="text" class="form-control input-edit-pass" placeholder="Mật khẩu mới">
                </div>
                <div class="form-group">
                  <label>Họ tên</label>
                  <input type="text" class="form-control input-edit-name" value="Nguyen Van A">
                </div>
                <div class="form-group">
                  <label>Loại tk</label>
                  <input type="text" readonly class="form-control input-edit-usertype" value="Sinh viên">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger mr-auto btn-del-user">Delete</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary btn-update-user">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Quan ly tk -->
    </div>
    <div class="tab-pane" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <!-- Quan ly khao sat -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialogAddServey">
        Thêm cuộc khảo sát
      </button>
      <!-- Modal -->
      <div class="modal fade" id="dialogAddServey" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Cuộc khảo sát</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label>Tên cuộc khảo sát</label>
                  <input type="text" class="form-control" placeholder="Phát triển ứng dụng web">
                </div>
                <div class="form-group">
                  <label>Giảng viên</label>
                  <select class="form-control">
                    <option>Thầy 1</option>
                    <option>Cô 2</option>
                    <option>Cô 3</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Mẫu khảo sát</label>
                  <select class="form-control survey-template-dropdown">
                    <option>Mẫu 1</option>
                    <option>Mẫu 2</option>
                    <option>Mẫu 3</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Danh sách sinh viên (MSSV trên mỗi dòng)</label>
                  <textarea class="form-control" rows="5" id="comment"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group survey-list">

      </div>

      <div class="modal fade" id="dialogServey" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Chi tiết khảo sát</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label>Tên cuộc khảo sát</label>
                  <input type="text" readonly class="form-control-plaintext" value="Phát triển ứng dụng web">
                </div>
                <div class="form-group">
                  <label>Giảng viên</label>
                  <input type="text" readonly class="form-control-plaintext" value="Lê Đình Thành">
                </div>
                <div class="form-group">
                  <label>Kết quả khảo sát</label>
                  <select class="form-control">
                    <option>Tổng hợp</option>
                    <option>Sinh viên 1</option>
                    <option>Sinh viên 2</option>
                  </select>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Câu hỏi</th>
                        <th scope="col">Đánh giá</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Độ đẹp trai</td>
                        <td>5</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Độ tốt bụng</td>
                        <td>5</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger mr-auto">Delete</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Quan ly khao sat -->
    </div>
    <div class="tab-pane" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <!-- Cac phieu khao sat -->
      <button type="button" class="btn btn-primary add-survey-template">
        Them phieu
      </button>
      <!-- Modal -->
      <div class="modal fade" id="dialogServeyTemplate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Phiếu khảo sát</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label>Tên phiếu ks</label>
                  <input type="text" class="form-control input-name-surveyTemplate" placeholder="Phiếu ks hk 1">
                </div>
                <label>Các câu khảo sát</label>
                <div class="question-container">
                </div>
                <button type="button" class="btn btn-primary btn-add-question">+Thêm câu hỏi</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger mr-auto btn-del-survey-template">Delete</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary btn-save-survey-template">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group survey-template-container">
        <button type="button" id="123" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
      </div>
      <!-- Cac phieu khao sat -->
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="js/script.js"></script>
</body>

</html>
