<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <title>Đánh giá môn học</title>
  </head>
  <body>
    <!-- NavBar -->
    <nav class="navbar navbar-dark navbar-expand-sm ">
      <a class="navbar-brand col-2 text-center" href="#">
        <img src="image/logo.png" width="30" class="align-baseline" alt="">
        <span class="h2">ĐM!</span>
      </a>
      <div class="dropdown ml-auto mr-3">
        <button type="button" data-toggle="dropdown">
        <img src="image/profile.jpg" alt="" class="rounded-circle" width="40"/>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="account-info text-center">
            <img src="image/profile.jpg" alt="" class="rounded-circle mb-2" width="100"/>
            <h4>Nguyễn Văn Tùng</h4>
            <p>tungk60uet@gmail.com</p>
          </div>
          <div class="dropdown-divider"></div>
          <div class="list-btn">
            <a class="dropdown-item" href="#"><i class="fas fa-user-circle"></i> Hồ sơ cá nhân</a>
            <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
          </div>
        </div>
      </div>
    </nav>
    <div>
      <% for(var i=0; i<10; i++){ %>
        <% for(var j=0; j<5; j++){ %>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="question<%=i%>" value="<%=j%>"><%=j%></input>
           </div>
        <% }%>
        <hr>
      <% }%>
    </div>
    <span class="submit-btn btn btn-success">Submit</span>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="scripts/script.js"></script>

  </body>
</html>